.forms {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0;
}

.forms h2 {
    grid-column: 1 / 13;
    grid-row: 1 / 2;
}

.forms h3 {
    grid-column: 1 / 13;
    grid-row: 2 / 3;
    text-align: center;
    padding-bottom: 1rem;
}


#value-or-offer {
    display: none;
    text-align: center;
    margin-bottom: 40px;
}

form {
    grid-column: 2 / 12;
}

.forms form img {
    width: 50px;
}

input, select, textarea {
    font-family: Venti;
    border: 1px var(--frm-highlight) solid;
    transition: 200ms;
    padding: 15px;
    border-radius: 5px;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    font-stretch: semi-expanded;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hodnota,
.osetreni {
    display: flex;
    flex-direction: column;
    background-color: var(--bg__main-important);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    padding: 40px 15px;
}


.osetreni p {
    font-size: 1.4rem;
    padding-top: 20px;
    padding-bottom: 14px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.8);
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 1.5rem;
    background-image: url("../images/icon/form-arrow2.svg");
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 12px;
    background-color: white;
    color: black;
    padding: 15px;
    margin-top: 25px;
    margin-left: 15%;
    margin-right: 15%;
    font-stretch: expanded;
    letter-spacing: 1px;
}

.hodnota textarea {
    display: none;
    text-align: center;
    font-size: 1.2rem;
    resize: none;
    padding: 30px 10px 10px 10px;
    margin-top: 1rem;
    margin-left: 15%;
    margin-right: 15%;
    border: 2px solid var(--frm-highlight);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#dle-hodnoty a,
#dle-osetreni a {
    color: white;
    text-decoration: none;
    margin-top: 2rem;
    font-size: 1.5rem;
    padding: 25px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
}

#dle-hodnoty a:hover,
#dle-osetreni a:hover,
#dle-hodnoty a:focus
#dle-osetreni a:focus {
    opacity: 0.7;
    border: 2px solid rgb(255, 165, 153);
    box-shadow: none;
    transition: 250ms;
}

#errorEmpty,
#errorEmptyNameClient,
#errorPhone,
#errorEmptyEmail,
#errorEmptyGifted,
#errorEmptyCheckboxData {
    display: none;
    text-align: center;
    color: red;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#errorEmpty img,
#errorEmptyNameClient img,
#errorPhone img,
#errorEmptyEmail img,
#errorEmptyGifted img,
#errorEmptyCheckboxData img {
    width: 25px;
    margin-right: 10px;
}

/* -----------------------------
--------------------------------
dtb ošetření - poukaz
--------------------------------
-------------------------------*/
.dtb--offer h2,
.select-variant h2 {
    padding-bottom: 0;
}
.dtb--offer h3,
.dtb--contacts h3,
.select-variant h3 {
    text-align: center;
    padding-bottom: var(--m__article);
}

.dtb--offer li {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 20px;
    margin: 0 5%;
    margin-bottom: 20px;
    background-color: var(--bg__main-block);
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.dtb--offer li:last-child {
    margin-bottom: 3rem;
}

.dtb--offer #info-another-offer {
    background-color: white;
    font-size: 1.4rem;
    padding: 2rem 5%;
    text-align: center;
    border: 2px dashed var(--second-color);
}

.dtb--offer label {
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
}

.offer-detail {
    padding-left: 2rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-bottom: 1px solid var(--second-color);
    padding-bottom: 1rem;
}

.offer-detail p {
    font-size: 1.2rem;
    padding: 10px 0;
}

.dtb-not-border {
    border-bottom: none;
}


.more {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 0 5px 2rem;
    width: 100%;
    color: var(--main-color);
    text-decoration: none;
}

.more-info {
    font-size: 1.2rem;
    padding: 20px;
    margin: 15px 2rem;
    background-color: white;
    border: 1px solid var(--second-color);
    border-radius: 10px;
    -webkit-border-radius: 10px ;
    -moz-border-radius: 10px ;
    -ms-border-radius: 10px ;
    -o-border-radius: 10px ;
}

.dtb--offer li:has( input[type="radio"]:checked ),
.select-input input[type="radio"]:checked {
    border: 2px solid var(--third-color);
    background-color: var(--bg__main-important);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.select-input input[type="radio"]:checked {
    padding: 43px;
}

@-moz-document url-prefix() {
    .offer--main input[type="radio"]:checked+.offer-detail label::before,
    .select-input input[type="radio"]:checked+label::after {
        content: "[VYBRÁNO]";
        font-size: .8rem;
        font-weight: bold;
        color: white;
        background-color: var(--main-color);
        margin-right: 10px;
        padding: 15px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        z-index: 1;
    }
    .select-input input[type="radio"]:checked+label::after {
        margin-left: 15px;
    }
    .select-input input[type="radio"]:checked {
        padding: 44px;
    }
}



.voucher-footer {
    display: flex;
    flex-direction: column;
    border-top: 2px solid var(--second-color);
    padding: var(--m__article) 0 0 0;
}

.offer--summary,
.footer--info {
    padding: 0 0 var(--m__section) 15%;
    font-size: 1.2rem;
    text-align: center;
}

.footer--info {
    padding-right: 15%;
}

.offer--summary p {
    margin-left: 5%;
    margin-right: 5%;

    text-align: left;


}

#offer-selected,
#offerEmpty {
    text-align: left;
    margin-left: 5%;
}



.error--offer-selected img {
    width: 35px;
    padding-right: 15px;
    margin-bottom: -6px;
}

.check-voucher {
    width: 70%;
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
    margin-bottom: var(--m__article);
}

.next-step {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--m__section);
    justify-content: center;
}

.next-step button,
.next-step a {
    margin: auto;
    border: 2px var(--frm-highlight) solid;
    background: white;
    color: black;
    border-radius: 0;
    padding: 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 2px 5px 5px var(--second-color);
    transition: 500ms;
}

.next-step button:hover,
.next-step a:hover,
.next-step button:focus,
.next-step a:focus {
    background-image: linear-gradient(90deg, #C3B29F, #BD9F7C, #C3B29F);
    opacity: 0.7;
    border: 2px var(--main-color) solid;
    box-shadow: none;
    transition: 250ms;
}

.next-step button img {
    width: 50px;
    margin-right: 20px;
    margin-bottom: -15px;
}

.print-send button {
    background-image: linear-gradient(90deg, #C3B29F, #BD9F7C, #C3B29F);
    color: black;
    font-size: 1.3rem;
    border: 2px white solid;
    padding: 35px 45px 40px 45px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 2rem 3rem;
}

.print-send p {
text-align: center;
padding: 15px 5%;
font-size: 1.1rem;
}

/* -----------------------------
KONTAKTNÍ ÚDAJE
-------------------------------*/

.select-variant {
    padding: 0 10%;

    /* border-bottom: 2px solid var(--second-color); */
}

.select-variant-content {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: white;
    padding: 0 5% 0 5%;
    border: 1px solid var(--second-color);
}

.select-variant-content h3 {
    border-radius: 10px;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    -ms-border-radius: 10;
    -o-border-radius: 10;
    font-size: 2.5rem;
    color: white;
    font-weight: 100;
    background-image: linear-gradient(45deg, #F88973, #0D0D1B);
    margin: 20px 0;
}

.select-variant-content-value {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: 100%;
}

.select-input {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: white;

}

.select-input p {
    grid-column: 1 / 4;
    font-size: 1.2rem;
    padding: 20px;
    text-align: center;
}

#select-first {
    margin-bottom: 30px;
}

.select-input input,
.dtb--offer input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    width: 100%;
    font-size: 1.2rem;
    margin: 0;
    padding: 30px 20px;
    border: none;
    cursor: pointer;
    
}

.dtb--offer input[type="radio"] {
    grid-column: 1 / 2;
    z-index: 1;
}

.select-input label {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 21px 12px;
    cursor: pointer;
}

.select-input input[type="radio"] {
    padding: 44px;
    border: 1px solid var(--frm-highlight);
    
}

.send-paper-voucher {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    margin-top: 15px;
}

.send-paper-voucher-header {
    font-size: 1.5rem;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: bold;
    padding: 0 10%;
}

.send-data-to-voucher {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
     margin-bottom: 25px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.send-voucher-courier {
    display: none;
    flex-direction: row;
    width: 80%;
    margin-bottom: 50px;
    margin-top: 60px;
    background-color: white;
    padding: 30px 20px 10px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.send-voucher-courier img {
    width: 50px;
    margin-right: 30px;
    margin-top: -8px;
}

.send-paper-voucher input[type="checkbox"],
.send-voucher-courier input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    flex-shrink: 0;
    background-color: white;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    border: 2px solid var(--frm-highlight);
    border-radius: 5px;
    display: grid;
    place-content: center;
    cursor: pointer;

}

.send-paper-voucher input[type="checkbox"]::before,
.send-voucher-courier input[type="checkbox"]::before {
    content: "";
    width: 15px;
    height: 15px;
    transform: scale(0);
    transition: 150ms transform ease-in-out;
    transform-origin: center;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    background-color: var(--frm-highlight);
}

.send-paper-voucher input[type="checkbox"]:checked::before,
.send-voucher-courier input[type="checkbox"]:checked::before {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
}

.send-paper-voucher input[type="checkbox"]:checked,
.send-voucher-courier input[type="checkbox"]:checked {
    /* background-color: var(--frm-active); */
    background-color: white;
    border: 2px solid var(--frm-highlight);
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.send-paper-voucher p,
.send-voucher-courier label {
    font-size: 1.2rem;
    margin-left: 20px;
}

.hovertext {
    position: relative;
}
  
.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 400px;
    background-color: white;
    color: var(--frm-highlight);
    font-size: 1.2rem;
    text-align: center;
    padding: 20px 0px;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    left: -130px;
    top: 130%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
  
.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}



.dtb--contacts {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-top: var(--m__article);

}

.dtb--client,
.dtb--gifted {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--m__article);
    padding: var(--m__article) 0;
    background-color: var(--bg__main-block);
}

.dtb--contacts .perex {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    font-size: 1.4rem;
    text-transform: none;
}

.dtb--contacts .perex img {
    width: 70px;
    margin-right: 20px;
    height: auto;
}

.dtb--contacts .perex p {
    padding-left: 5%;
    border-left: 1px solid var(--second-color);
}

.email-client-text-label {
    display: none;
}

.dtb--client label,
.dtb--gifted label {
    align-items: flex-start;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 2rem;
    cursor: auto;
}

.send-data-to-voucher label {
    font-weight: normal;
    margin-top: 0;
    padding-left: 20px;
    cursor: pointer;
}

.send-voucher-courier label {
    font-weight: normal;
    font-size: 1.2rem;
    margin-top: 0;
    cursor: pointer;
}

.dtb--client label:first-child,
.dtb--gifted label:first-child  {
    margin-top: 0;
}

.dtb--client input,
.dtb--gifted input,
.dtb--client textarea {
    width: 70%;
}

.form-voluntary {
    font-weight: normal;
}


.dtb--client {
    margin-top: 40px;    
}

.dtb--gifted {
    border-top: 1px solid var(--second-color);
}

.gifted-textarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    text-align: center;
    margin-top: 2.5rem;
}

.dtb--gifted textarea {
    height: 100px;
    min-height: 100px;
    max-height: 200px;
    resize: none;
    margin-bottom: 50px;
}

.dtb--client textarea::-webkit-scrollbar, 
.dtb--gifted textarea::-webkit-scrollbar {
    width: 10px;
}

.dtb--client textarea::-webkit-scrollbar, 
.dtb--gifted textarea::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 3px;
}

.dtb--client textarea::-webkit-scrollbar, 
.dtb--gifted textarea::-webkit-scrollbar-corner {
    color: var(--main-color);
    background-color: var(--second-color);
}


#sending-error {
    text-align: center;
    padding: 1rem 20% 0 20%;
    line-height: 1.5rem;
    font-size: 1.2rem;
    color: red;
    display: none;
    flex-direction: column;
}



/* --------------------------

FINAL

-------------------------- */

.summary-content .logo,
.final-information {
    display: none;
}

.final-sothys img {
    width: 280px;
}


/* --------------------------

STRÁNKA S POTVRZENÍM ODESLÁNÍ

-------------------------- */

.send {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 10% var(--m__section) 10%;
    background-color: var(--bg__main-block);
}

.send h3 {
    color: var(--frm-highlight);
}

.gradient-light {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--main-color);
    animation: fade-in-bottom 1s linear 1;
}
@keyframes fade-in-bottom {
    0%{
        transform: translateY(20px);
        opacity: 0;
      }
      100%{
        transform: translateY(0);
        opacity: 1;
      }
}

.gradient-dark {
    font-size: 1.8rem;
    line-height: 2rem;
    background-image: linear-gradient(90deg, #443A2D, #554E45, #3B3023);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 10%;
}

.summary-content {
    padding: var(--m__article) 0;
}

.final-content-padding {
    padding-top: 0;
}

.final-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
    margin-bottom: var(--m__article);
    background-color: var(--bg__main-block);
    padding-bottom: var(--m__article);
}

#form-line,
#client--remove-pickup {
    padding: 30px 5%;
    margin: 2rem 10% 0 10%;
    background-color: white;
}

#client--remove-pickup {
    margin-top: 0;
    border-top: 1px solid var(--second-color);
}


.pay-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    margin: 2rem 10% 0 10%;
    padding: 20px 0;
    border-bottom: 1px solid var(--second-color);
}

.pay-data img {
    width: 60px;
}

.pay--info {
    background-color: white;
    width: 80%;
    margin: auto;
}

.final-summary-perex {
    display: block;
    text-transform: none;
    font-weight: normal;
    padding-top: 10px;
    font-size: 1.2rem;
    opacity: 0.5;
}

.pay-data p:last-child {
    padding-bottom: 15px;
}

.client--final-summary-detail,
.gifted--final-summary-detail {
    width: 100%;
}

.summary-detail-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
    width: 80%;
    margin: auto;
    padding-top: 2rem;
    border-bottom: 1px solid var(--second-color);
}

.summary-detail-header img {
    width: 80px;
}

.final-summary-header {
    margin-left: 8%;
    margin-right: 8%;
}
.pay-data img {
    width: 60px;
    padding-top: 0;
}

.client--final-summary-detail p,
.gifted--final-summary-detail p {
    padding: 15px;
    margin-left: 10%;
    margin-right: 10%;
}

.client--final-summary-detail p:first-child {
    margin-top: 2rem;
}
.pay--info p:first-child {
    margin-top: 0;
}

#summary-client-pickup {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
}

#client--remove-value,
#gifted--remove-value,
#client--remove-treatments,
#client--remove-price,
#gifted--remove-name,
#gifted--remove-price,
#client--remove-value-main,
#client--remove-value-own,
.final-voucher #gifted--remove-value-main,
.final-voucher #gifted--remove-value-own,
.final-voucher #gifted--remove-wish
 {
    display: none;
}

#client--remove-value,
#gifted--remove-value,
#client--remove-treatments,
#client--remove-price,
#gifted--remove-name,
#gifted--remove-price,
#gifted--remove-value-main,
#gifted--remove-value-own,
.final-voucher #gifted--remove-wish {
    justify-content: center;
}

#summary-client-value,
#summary-gifted-value,
#summary-client-treatments,
#summary-gifted-treatments,
#summary-client-pickup-note,
#vs-date,
#summary-final-price,
#summary-random-code,
#actual-date,
#summary-gifted-value-main,
#summary-gifted-value-own,
.final-voucher #summary-gifted-wish{
    padding-left: 5px;
}

#summary-gifted-wish {
    font-style: italic;
}

.client--final-summary-detail .upper {
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
}

.notice {
    display: flex;
    flex-direction: column;
    margin: 30px 5%;
}



.notice img {
    width: 50px;
    margin: auto;
}

.success-done {
    font-size: 1.5rem;
    padding-top: 30px;
    margin-top: 20px;
    border-top: 2px solid var(--second-color);
    margin-bottom: 40px;
}

#warning-pay {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--second-color);
}

#warning-pay img {
    width: 60px;
    padding-bottom: 10px;
}

.final-voucher p:first-child {
    font-weight: bold;
    font-size: 1.7rem;
    padding-bottom: 25px;
}

.eco {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: auto;
    margin-bottom: 3rem;
}

.eco img {
    width: 90px;
    margin-bottom: 2rem;
}

.eco p {
    font-size: 1.8rem;
    color: green;
    padding: 0 5%;
    text-align: center;
}

/* formular pro reference */
.reference__text-info {
    display: grid;
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
}

.close-icon {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: end;
    font-weight: bold;
    color: var(--frm-highlight);
    width: 40px;
    height: 40px;
    margin-top: -50px;
    margin-right: -35px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    cursor: pointer;
    display: grid;
    box-shadow: rgba(100, 100, 111, 0.9) 0px 7px 29px 0px;
    opacity: 0;
    transition: 700ms;
    -webkit-transition: 700ms;
    -moz-transition: 700ms;
    -ms-transition: 700ms;
    -o-transition: 700ms;
}

.reference__text-info button,
#sendAdmin {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-transform: none;
    background-color: var(--main-color);
    border: none;
    font-size: 1.4em;
    color: white;
}

#sendAdmin {
    margin-top: 4rem;
}

#sendAdmin:hover {
    color: black;
}

.reference__form #reference__send-form {
    display: none;
    transition: visibility 0s, opacity 0.5s linear;
}

.reference__form #reference__send-form {
    grid-template-columns: 1fr;
    margin-top: 20px;
    transition: visibility 0s, opacity 0.5s linear;
    margin-bottom: 0;
}

.reference__name {
    padding: 0;
    border: none;
}

.reference__form input {
    grid-column: 1 / 2;
    width: 90%;
    margin: 15px auto;
}

.reference__form p {
    grid-column: 1 / 2;
    margin-top: 1rem;
}

.reference__form p:last-child {
    padding-top: 20px;
    margin-top: 50px;
    border-top: 1px var(--frm-highlight) solid;
}

.reference__main-text textarea {
    width: 90%;
    margin: 15px auto;
    min-height: 190px;
    max-height: 260px;
}

.reference__main-text textarea::placeholder{
font-size: 20px;
}



/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */

@media all and (min-width: 59em) {

.voucher-footer {
    flex-direction: row;
    justify-content:space-between;
    align-content: center;
    margin: 0 10%;
    margin-bottom: var(--m__article);
    font-size: 1.2rem;
    text-align: center;
}

.footer--info {
    width: 65%;
    text-align: left;
    padding-right: 5%;
}

.offer--summary {
    width: 65%;
    padding: 0;
}

.summary-detail-header {
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}

#dle-hodnoty {
    grid-column: 2 / 7;
    margin-right: 10px;
}

#dle-osetreni {
    grid-column: 7 / 12;
    margin-left: 10px;
}

.hodnota {
    grid-column: 2 / 7;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}
.osetreni {
    grid-column: 7 / 12;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}


.hodnota:hover,
.osetreni:hover {
    box-shadow: rgba(50, 50, 93, 0.15) 0px 50px 100px -20px, rgba(0, 0, 0, 0.1) 0px 30px 60px -30px;
    transition: 700ms;
    -webkit-transition: 700ms;
    -moz-transition: 700ms;
    -ms-transition: 700ms;
    -o-transition: 700ms;
}

@-moz-document url-prefix() {

    .offer--main input[type="radio"]:checked+.offer-detail label::after {
        content: "[VYBRÁNO]";
        font-size: 1.2rem;
        font-weight: bold;
        color: white;
        background-color: var(--main-color);
        margin-left: 10px;
        padding: 15px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        z-index: 1;
    }

    .select-variant-content h3 {
        margin: 0;
    }

    .offer--main input[type="radio"]:checked+.offer-detail label::before {
    content: none;
    }

    .select-input input[type="radio"]:checked+label::after {
        margin-left: 10px;
        content: "<<VYBRÁNO";
    }

    .select-input input[type="radio"]+label {
        /* padding-left: 65px; */
        padding-left: 5px;
        font-size: 1.2rem;
        z-index: 2;
    }

    .select-input input[type="radio"]:checked+label {
        padding-left: 20px;
        font-size: 1rem;
        z-index: 2;
    }
    #select-second input[type="radio"]:checked+label {
        padding-left: 35px;
    }

}


.dtb--offer li {
    margin: 0 15%;
    margin-bottom: 20px;
}

.dtb--offer li:hover {
    background-color: var(--bg__main-important);
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
}

.select-variant-content h3 {
    padding: 15px 0 80px 0;
    margin: 20px 5% 0 0;
}

.select-variant-content,
.select-variant-content-value {
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.select-input {
    width: 50%;
}

.select-input input,
.select-input input[type="radio"]:checked::before,
.select-input label {
    font-size: 1.5rem;
}

#select-first {
    margin-bottom: 0;
}

.dtb--contacts {
    flex-direction: row;
}

.dtb--client {
    margin-top: 0;
}

.dtb--client,
.dtb--gifted {
    border-top: none;
    width: 50%;
}

.summary-content {
    padding: var(--m__article) var(--m__section);
}

#warning-pay {
    flex-direction: row;
}

#warning-pay img {
    margin-right: 30px;
    margin-bottom: -10px;
    padding-right: 20px;
    border-right: 1px solid var(--second-color);
}

.check-voucher {
    text-align: left;
}

.eco {
    flex-direction: row;
}

.eco img {
    margin-bottom: 0;
}

.next-step button {
    width: 40%;
    margin: auto;
}



/* --------------------------

STRÁNKA S POTVRZENÍM ODESLÁNÍ

-------------------------- */

.notice {
    flex-direction: row
}

.notice h3 {
    width: 80%;
    border-left: 1px solid var(--second-color);
    padding: 15px;
}

.notice img {
    padding-top: 15px;
}

/* .digital-send img {
    width: 30%;
}

.digital-send .gradient-light {
    font-size: 3rem;
}

.block__version {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 2 / 5;
    justify-self: stretch;
    padding-top: 10px;
}

.block__version-radio {
    display: flex;
    flex-direction: row;
    grid-row: 2 / 3;
}

.digital {
    grid-column: 2 / 3;
    padding-top: 0;
} */
/* --------------------------

formulář pro reference

-------------------------- */
.close-icon {
    margin-top: -45px;
    margin-right: -35px;
}

}